<section class="index-page">
  <h2>Settings</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cum sed fugiat ratione necessitatibus molestias illum consequatur consequuntur excepturi. Earum tenetur ullam sit assumenda ad inventore atque quaerat, a beatae.
  </p>
</section>